body {
    /* margin: 0 auto; */
}

.zone {
    /*padding:30px 50px;*/
    /*cursor:pointer;*/
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;

}



button{
  position:relative;
  right:20px;
  bottom:12px;
}

.blue{
  color: #617be3;
}

/***********************************************************************
 *  Nav Bar
 **********************************************************************/
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
}

.pu{
  margin-right: 1000px;
}

.push {
    margin-left: 10px;
}

li {
    padding: 5px;
}

a {
    color: #000000;
    text-decoration: none;
}


/***********************************************************************
 *  Cover
 **********************************************************************/
.container {
    /*show heigh: auto*/
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/***********************************************************************
 *  Grid Panel
 **********************************************************************/
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    text-align: center;
    color:#617be3
}

.table,.a,.b{
  display:inline;
}
.box {
  text-align: center;
    background-color: #617be3;
    padding: 13px;
    margin: 20px;
    height:100px;
    width:100px;
}

.box > img {
    width: 100%;
}
